body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: #424242;
  margin-bottom: 10px;
}

.square {
  color: #424242;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  font-size: 30px;
  color: #424242;
  padding: 15px;
  text-align: center;
}

.restart-button {
  padding-top: 20px;
  text-align: center;
}

.restart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.restart:focus {
  outline: none;
}

.restart:active {
  box-shadow: 0 1px #424242;
  transform: translateY(1px);
}

.restart {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #424242;
  color: #fffde7;
  border: none;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  text-align: center;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
}